{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}  

<!-- Top content -->
<div class="carousel-wrapper container-fluid">
	<div class="container">

			<!-- Carousel -->
			<div id="{{carousel_id}}" class="carousel slide" data-interval="0">
					<ol class="carousel-indicators">
            {% set clase='clase="active"' %}
            {% for video in videos %}
              <li data-target="#{{carousel_id}}" data-slide-to="{{loop.index0}}" {{clase}}></li>
              {% set clase='' %}
            {% endfor %}            
					</ol>
					<div class="carousel-inner">

         {% set clase="active" %}
          {% for video in videos %}
             <div class="carousel-item {{clase}}">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe class="embed-responsive-item"  src="{{video}}" allowfullscreen></iframe>
                </div>
            </div>
            {% set clase='' %}
          {% endfor %}

					</div>
						<a class="carousel-control-prev" href="#{{carousel_id}}" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#{{carousel_id}}" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
				</div>
			<!-- End carousel -->

	</div>
</div>









